.balls{
  background: #f1f3f5;
  &__top{
    padding: 0 160px 0 160px;
    box-shadow: 0 4px 4px #0000000d;
    background: #fff;

    &-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 0;
      margin: 0 0 24px 0;
    }
    &-right{
      a{
        img{
          height: 27px;
        }
      }
    }
    &-left{
      display: flex;
      align-items: center;

    }
    &-menu{
      cursor: pointer;
      display: inline-flex;
      padding: 0;
    }
    &-item{
      display: flex;
      align-items: center;
    }
    &-burger{
      border-radius: 4px;
      width: 100%;
      background: none;
      border: none;
      padding: 0 8px;
      span{
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }
    &-person{
      margin-inline-start: 26px;
    }
  }
  &__row{
    padding-block-start: 40px;
    padding-block-end: 40px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;

  }
  &__card{
    margin:  0 128px 20px;
    border-radius: 15px;
    display: flex;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 56px;
  }
  &__right{
    width: 50%;
    margin: 107px 0;
    &-title{
      font-size: 40px;
      line-height: 44px;
      color: rgb(0, 0, 0);
      letter-spacing: -1px;
      font-weight: 500;
      text-align: start;
      margin-block-start: 31px;

    }
    &-img{

    }
    &-text{
      margin-block-start: 23px;
      font-size: 20px;
      line-height: 24px;
      color: rgb(0, 0, 0);
      letter-spacing: -.25px;

    }
  }
  &__left{
    &-img{
      img{
        height: 414px;
        width: 100%;

      }
    }
  }
}
