.basket{
  padding-top: 18px;
  margin: 0 163px 163px;
  &__row{
    display: flex;

  }
  &__decor{
    width: calc(100% - 390px);
    padding-right: 40px;
  }
  &__line{
    color: #212121;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 20px;
    display: flex;
    -moz-column-gap: 12px;
    column-gap: 12px;
  }
  &__title{
    font-weight: 500;
    height: 36px;
    font-size: 28px;
  }
  &__labels{
    display: flex;
    align-items: center;
    column-gap: 26px;
    margin-top: 12px;
    margin-bottom: 8px;
  }
  &__label{
    height: 24px;
    span{
        color: #8a8784;
        font-weight: 500;
        padding-left: 8px;
         cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        transition-duration: .12s;
        transition-timing-function: ease-in-out;
        margin-left: -2px;
        font-size: 13px;
        line-height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;

    }
  }
  &__inputs{
    opacity: 1;
    transform: translateY(0);
  }
  &__input{
    background-color: initial;
    transition-duration: .12s;
    transition-timing-function: ease-in-out;
    cursor: default;
    appearance: auto;
    margin: 3px 3px 3px 4px;
  }
  &__btn{
    height: 24px;
    background-color: inherit;
    border: none;
    border-radius: 7px;
    font-weight: 500;
    transition: all .12s ease-out;
    cursor: pointer;
    span{
        margin-left: 4px;
        color: #8a8784;
        font-weight: 500;
        font-size: 13px;
        line-height: 17px;
        word-wrap: break-word;
        text-align: center;
    }
  }
  &__products{
    display: flex;
    padding: 18px 0;
  }
  &__product {
    display: flex;
    &-right {
      display: flex;
      padding: 0 10px;

      label {
        margin-right: 12px;
        position: relative;
        span {
          position: absolute;
          background-color: #fce000;
          border-color: #fce000;
          box-shadow: none;
          width: 24px;
          height: 24px;
          font-size: 24px;
          border-radius: 6px;
          transform: scale(1);
        }

        input {
          border: none;

        }
      }
    }
    &-center {
      display: flex;
      flex-direction: column;
      padding: 4px 40px 0 18px;
    }
    &-text {
      a {
        word-break: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-height: 15px;
        font-weight: 500;
        font-size: 13px;
        color: black;
      }
    }
    &-p {
      color: #8a8784;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      padding: 8px 0;
    }
    &-size {
      margin-right: 13px;
      overflow: hidden;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      line-height: 15px;
      font-weight: 400;
      font-size: 13px;
    }
    &-color{
      margin-right: 13px;
      overflow: hidden;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      line-height: 15px;
      font-weight: 400;
      font-size: 13px;
    }
    &-market{
        cursor: default;
        font-weight: 400;
        font-size: 15px;
        line-height: 17px;
        color: #8a8784;
        word-wrap: break-word;
    }
    &-icons{
      display: flex;
      align-items: center;
      margin-top: auto;
      gap: 20px;
      padding-top: 15px ;
    }
    &-icon{
      border: none;
      background: none;
    }
    &-heart{
      svg path{
          stroke: currentcolor;
          fill: rgb(255, 255, 255);
          stroke-width: 2;
          transform-origin: 0px 0px;
          color: rgb(158, 155, 152);

      }
    }
    &-cross{
      svg path {
        stroke: currentcolor;
        fill: rgb(255, 255, 255);
        stroke-width: 2;
        transform-origin: 0px 0px;
        color: rgb(158, 155, 152);
      }
    }
  }
  &__product-img {
    img {
      border-radius: 3px;
      border: 2px solid black;
      height: 100%;
      display: flex;
      margin: 0 10px;
    }
  }
  &__left{
    display: flex;
    flex-direction: column;
    width: 120px;
    min-width: 120px;
    flex-wrap: nowrap;
    span{
      font-size: 13px;
      line-height: 15px;
      color: #8a8784;
      font-weight: 400;

    }
  }
  &__pays{
    display: flex;
    flex-direction: column;
    width: 120px;
    min-width: 120px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  &__pay{
    font-size: 10px;
    line-height: 16px;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  &__price{
    display: flex;
    font-size: 20px;
    line-height: 20px;
  }
  &__number{
    display: flex;
    align-items: center;
    background-color: #f5f4f2;
    border-radius: 7px;
    height: 32px;
    overflow: hidden;
    margin-top: 22px ;
    padding: 0 10px;
    justify-content: space-between;
    &-minus{
      display: flex;
      align-items: center;
      opacity: .3;
      cursor: auto;
      pointer-events: none;
      height: 100%;
      margin: 0;
      border: none;
      background: none;
      transition: background-color .2s;
      font-size: 35px;
      color: #000;
    }
    &-count{
      text-align: center;
      font-size: 13px;
      line-height: 14px;
      font-weight: 700;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: none;
      font-family: inherit;
      min-width: 18px;
      flex-grow: 1;
      transition: .1s ease-out;
      transition-property: color;
    }
    &-plus{
      height: 100%;
      margin: 0;
      border: none;
      cursor: pointer;
      background: none;
      transition: background-color .2s;
      font-size: 24px;
      color: #000;
    }
  }

  &__general{
    width: 390px;
    &-btns{
      padding: 0 0 20px 0;

    }
    &-btn{
      width: 100%;
      background-color: #fce000;
      color: #21201f;
      font-size: 16px;
      line-height: 19px;
      height: 56px;
      border-radius: 12px;
      border: none;
    }
    &-totals{
      background-color: #f8f7f5;
      border-radius: 20px;
      padding: 16px;
    }
    &-total{
      position: relative;
      padding-bottom: 4px;
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: space-between;
    }
    &-kg{
      font-weight: 500;
      font-size: 13px;
      line-height: 17px;
      color: #21201f;
      span{
        position: relative;
        margin-left: 6px;
        font-weight: 500;
        font-size: 13px;
        line-height: 17px;
        color: #21201f;
      }
    }
    &-n{
      font-weight: 500;
      font-size: 13px;
      line-height: 17px;
      color: #21201f;
    }
    &-kg span:before{
      position: absolute;
      top: 50%;
      border-radius: 50%;
      left: -4px;
      width: 3px;
      height: 3px;
      content: "";
      transform: translateY(-50%);
      background-color: #21201f;
    }
    &-discount{
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: space-between;
      padding-top: 4px;
      margin-top: 8px;
      span{
        color: #fc5230;
        font-feature-settings: "pnum" on, "lnum" on, "case" on;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
      }
    }
    &-d{
      font-weight: 400;
      font-size: 13px;
      line-height: 17px;
      color: #21201f;
    }
    &-code{
      width: 100% ;
      padding: 8px 12px;
      font-size: 13px;
      line-height: 20px;
      appearance: none;
      display: block;
      transition: .1s ease-out;
      transition-property: color;
      margin-top: 8px;
      border-radius: 12px;
      border: 2px solid rgba(0, 0, 0, .14);
    }
    &-pays{
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      span{
        color: #006933;
        font-weight: 700;
        line-height: 36px;
        font-size: 28px;
      }
    }
    &-pay{
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 13px;
      line-height: 17px;
      color: #21201f;
    }
    &-map{
      margin-top: 4px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      span{
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        color: #21201f;
      }
    }
    &-text{
      line-height: 23px;
      font-weight: 700;
      font-size: 13px;
      color: #21201f;
    }
  }
}