.children{
  .swiper-button-prev{
    color: black;
    background: none;
    align-items: center;
    background-color: hsla(0, 0%, 100%, .75);
    border: 1px solid #666666;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 60px;
    justify-content: center;
    position: absolute;
    transition: opacity .125s ease;
    width: 60px;
  }
  .swiper-button-next{
    color: black;
    align-items: center;
    background-color: hsla(0, 0%, 100%, .75);
    border: 1px solid #666666;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 60px;
    justify-content: center;
    position: absolute;
    transition: opacity .125s ease;
    width: 60px;
  }
  &__items{
    padding: 24px 0 48px;
  }
  &__item{
    display: flex;
    justify-content: space-around;
  }
  &__li{
    width: 276px;
    display: flex;
    justify-content: center;
    align-items: center;
  img{
    display: block;
    width: 48px;
    height: 48px;
    margin-right: 16px;

  }
  }
  &__title{
    margin-bottom: 2px;
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
    color: #000;
  }
  &__desc{
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    color: #21201f;
  }
  .junion {
    margin: 0 86px ;
    &__photo{
      border: none;
      img{
        width: 100%;
      }
    }
    &__background{
      background-color: #368061;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__title{
      line-height: 36px;
      font-size: 28px;
      padding: 15px 0;
    }
    &__label{
      align-items: center;
      margin:  8px;
      flex-direction: row;
      padding: 0 50px;
      outline: none;
      outline-offset: 2px;
    }
    &__swiper{
      padding: 30px 20px;
      display: flex;
      position: relative;
      &-left{
        cursor: pointer;
        position: absolute;
        bottom: 42%;
        z-index: 999;
        left: 2.6%;
      }
      &-right{
        cursor: pointer;
        position: absolute;
        z-index: 9999;
        right: 3.5%;
        margin-top: 15.6%;
      }
    }
    &__swipers{
      background-color: #fff;
      width: 100%;
      display: flex;
      flex-direction: column;
      border-radius: 12px;
      padding: 16px;
    }
    .swiper-button-prev{
      outline: none;
      color: black;
      margin: 0;
      letter-spacing: 0;
      border: solid transparent;
      cursor: pointer;
      box-shadow: 0 1px 8px rgba(0, 0, 0, .06), 0 2px 4px rgba(0, 0, 0, .12);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-color: #fff;
      display: flex;
      right: 0;
      left: 0;
      justify-content: center;
    }
    .swiper-button-next{
      outline: none;
      margin: 0;
      color: black;
      letter-spacing: 0;
      border: solid transparent;
      cursor: pointer;
      box-shadow: 0 1px 8px rgba(0, 0, 0, .06), 0 2px 4px rgba(0, 0, 0, .12);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-color: #fff;
      display: flex;
      justify-content: center;
    }
    &__new{
      white-space: nowrap;
      cursor: pointer;
      font-size: 14px;
      line-height: 18px;
      border-radius: 100px;
      padding: 7px 12px;
      margin-right: 8px;
      transition: all .12s ease-out;
      color: #42413e;
      background: #f1f0ed;
      input{
        display: none;
        padding: 0 10px;
      }
    }
    &__price{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size:15px;
      line-height: 15px;
      font-weight: 500;
      span{
        font-size: 13px;
        line-height: 15px;
        color: #8a8784;
        font-weight: 400;

      }
    }
    &__price span:before{
      position: relative;
      left: - 5px;
      bottom: 1px;
      content: "/";
      background-color: transparent;
      top: auto;
      transform: none;
      width: auto;
      height: auto;
    }
    &__img{
      object-fit: contain;
      mix-blend-mode: multiply;
      outline: none;
      display: flex;

      img{
        height: 100%;
        width: 100%;
      }
    }
    &__pays{
      text-align: start;
      padding: 12px 0 20px 0;
    }
    &__pay{
      font-size: 10px;
      line-height: 16px;
    }
    &__text{
      display: flex;
      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      padding: 8px 0;
      color: #21201f;
    }
    &__desc{
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      color: #21201f;
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
    &__price{
      justify-content: start;
      gap: 8px;
      text-align: center;
      line-height: 1;
      font-size: 17px;
      font-weight: 700;
      span{
        font-size: 15px;
        color: #8a8784;
      }
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
      display:none;
    }
  }
  .books{
    margin: 40px 86px;
    &__logo{
      width: 100%;
      height: 100%;
    }
    &__title{
      line-height: 36px;
      font-size: 28px;
      padding: 15px 0;
    }
    &__label{
      align-items: center;
      margin:  8px;
      flex-direction: row;
      padding: 0 50px;
      outline: none;
      outline-offset: 2px;
    }
    &__swiper{

    }
    &__swipers{
      padding: 16px;
      border-radius: 12px;
    }
    &__new{
      white-space: nowrap;
      cursor: pointer;
      font-size: 14px;
      line-height: 18px;
      border-radius: 100px;
      padding: 7px 12px;
      margin-right: 8px;
      transition: all .12s ease-out;
      color: #42413e;
      background: #f1f0ed;
      input{
        display: none;
        padding: 0 10px;
      }
    }
    &__price{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size:15px;
      line-height: 15px;
      font-weight: 500;
      span{
        font-size: 13px;
        line-height: 15px;
        color: #8a8784;
        font-weight: 400;

      }
    }
    &__price span:before{
      position: relative;
      left: - 5px;
      bottom: 1px;
      content: "/";
      background-color: transparent;
      top: auto;
      transform: none;
      width: auto;
      height: auto;
    }
    &__img{

      img{
        height: 175px;
        width: 100%;
      }
    }
    &__pays{
      text-align: start;
      padding: 15px 0 20px 0;
    }
    &__pay{
      font-size: 10px;
      line-height: 16px;
    }
    &__text{
      display: flex;
      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      padding: 8px 0;
      color: #21201f;
    }
    &__desc{
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      color: #21201f;
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
    &__price{
      justify-content: start;
      gap: 8px;
      text-align: center;
      line-height: 1;
      font-size: 17px;
      font-weight: 700;
      span{
        font-size: 15px;
        color: #8a8784;
      }
    }
  }
}