.cloth{
  &__top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 0 40px;
    background-color: hsla(10, 0%, 100%, .90);
    mix-blend-mode: normal;
    backdrop-filter: blur(15px);
    transition: background-color .5s, box-shadow .5s;
  }
  &__right-text{
    font-size: 16px;
    line-height: 17px;
    color: #a09f9e;
    text-align: start;
    padding: 10px 0;
  }
  &__center{
  }
  &__items{
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow: hidden;
  }
  &__item{
    display: inline-block;
    padding: 10px 0;
    white-space: nowrap;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.005em;
    font-feature-settings: "pnum" on, "lnum" on;
    transition: color .8s;
    margin: 0 18px;
    a{
      font-size: 16px;
      line-height: 17px;
      color: #21201f;
    }
  }
  &__left{
    text-align: center;
  }
  &__left-items{
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow: hidden;
    justify-content: center;
  }
  &__left-item{
    display: flex;
    white-space: nowrap;
    margin-right: 24px;
    padding: 10px 0;
    a{
      font-weight: 400;
      font-size: 16px;
      line-height: 17px;
      letter-spacing: -.005em;
      font-feature-settings: "pnum" on, "lnum" on;
      color: #21201f;;
    }
  }
  &__swiper-one{
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    -o-object-fit: cover;
    object-fit: cover;
  }
  &__img{
    width: 100%;
    height: 100%;
  }
  .swiper-button-prev{
    color: black;
    background: none;
    align-items: center;
    background-color: hsla(0, 0%, 100%, .75);
    border: 1px solid #666666;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 60px;
    justify-content: center;
    position: absolute;
    transition: opacity .125s ease;
    width: 60px;
  }
  .swiper-button-next{
    color: black;
    align-items: center;
    background-color: hsla(0, 0%, 100%, .75);
    border: 1px solid #666666;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 60px;
    justify-content: center;
    position: absolute;
    transition: opacity .125s ease;
    width: 60px;
  }
  .logo{
    margin: 0 86px;
    &__img{
      gap: 12px;
      padding-bottom: 40px;
      margin-bottom: 12px;
      margin-top: 8px;

    }
    &__swiper{
      display: flex;
      position: relative;
      &-left{
        cursor: pointer;
        position: absolute;
        bottom: 34%;
        z-index: 999;
        left: 1.7%;
      }
      &-right{
        cursor: pointer;
        position: absolute;
        z-index: 9999;
        right: 9.7%;
        margin-top: -5.8%;
      }
    }
    .swiper-button-prev{
      outline: none;
      color: black;
      margin: 0;
      letter-spacing: 0;
      border: solid transparent;
      cursor: pointer;
      box-shadow: 0 1px 8px rgba(0, 0, 0, .06), 0 2px 4px rgba(0, 0, 0, .12);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-color: #fff;
      display: flex;
      justify-content: center;
    }
    .swiper-button-next{
      outline: none;
      margin: 0;
      color: black;
      letter-spacing: 0;
      border: solid transparent;
      cursor: pointer;
      box-shadow: 0 1px 8px rgba(0, 0, 0, .06), 0 2px 4px rgba(0, 0, 0, .12);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-color: #fff;
      display: flex;
      justify-content: center;
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
      display:none;
    }
  }
  .patrol{
    margin: 0 86px;
    &__title{
      line-height: 36px;
      font-size: 28px;
      padding: 15px 0;
    }
    &__label{
      align-items: center;
      padding-bottom: 8px;
      margin:  8px;
      flex-direction: row;
    }
    &__swiper-two{
      position: relative;
    }
    &__swipers{
      position: absolute;

    }
    &__new{
      white-space: nowrap;
      cursor: pointer;
      font-size: 14px;
      line-height: 18px;
      border-radius: 100px;
      padding: 7px 12px;
      transition: all .12s ease-out;
      color: #fff;
      background: #42413e;
      flex-direction: row;
      width: 285px;
      margin: 0 4px;
      input{
        display: none;
         padding: 0 10px;
      }
    }
    &__price{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 21px;
      line-height: 21px;
      span{
        font-size: 13px;
        line-height: 15px;
        color: #8a8784;
        font-weight: 400;

      }
    }
    &__price span:before{
      position: relative;
      left: - 5px;
      bottom: 1px;
      content: "/";
      background-color: transparent;
      top: auto;
      transform: none;
      width: auto;
      height: auto;
    }
    &__img{
      object-fit: contain;
      mix-blend-mode: multiply;
      outline: none;
      display: flex;
      border: 2px solid  black;
      border-radius: 2px;
      img{
      height: 100%;
      width: 100%;
      }
    }
    &__pays{
      text-align: start;
      padding: 12px 0 30px 0;
    }
    &__text{
      display: flex;
      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      padding: 8px 0;
      color: #21201f;
    }
    &__desc{
      font-size: 13px;
      line-height: 18px;
      color: #21201f;
    }
    &__price{
      justify-content: start;
      gap: 10px;
      line-height: 1;
      font-size: 17px;
      font-weight: 700;
      span{
        font-size: 15px;
        color: #8a8784;
      }
    }
  }
  .coat{
    margin: 0 86px;
    &__img{
      img{
        max-height: 175px;
        max-width: 175px;
      }
    }
    &__background{
      background: url(//avatars.mds.yandex.net/get-marketcms/1668019/img-d8917c16-9f1b-4d53-b265-aeb56fd50b21.png/optimize);
      background-size: 100% 100%;
      height: 634px;
      width: 100%;
      padding: 35px 25px;
    }
    &__title{
      display: flex;
      flex-wrap: nowrap;
      color: white;
      font-size: 40px;
      line-height: 43px;
      font-weight: 900;
      padding: 25px 0 60px 40px;
    }
    &__swiper{
      display: flex;
      position: relative;
      &-left{
        cursor: pointer;
        position: absolute;
        bottom: 41%;
        z-index: 999;
        left: 1.7%;
      }
      &-right{
        cursor: pointer;
        position: absolute;
        z-index: 9999;
        right: 1.5%;
        margin-top: 15.5%;
      }
    }
    &__swip{
      background-color: #fff;
      width: 100%;
      display: flex;
      flex-direction: column;
      border-radius: 12px;
      padding: 16px;
    }
    &__desc{
      display: flex;
      font-weight: 400;
      color: #212121;
      font-size: 14px;
      line-height: 18px;
      padding: 15px 0 0 0;
    }
    &__pays{
      padding: 20px 0 0 0;
    }
    &__pay{
      font-size: 10px;
      line-height: 16px;
      display: flex;
      align-items: center;
      color: #006933;
      white-space: nowrap;
    }
    &__btns{
      padding: 40px 0 0 0;
    }
    &__btn{
      background: #fce000;
      width: 100%;
      height: 40px;
      border-radius: 7px;
      border: none;
      align-items: center;
      justify-content: center;
    }
    .swiper-button-prev{
      outline: none;
      color: black;
      margin: 0;
      letter-spacing: 0;
      border: solid transparent;
      cursor: pointer;
      box-shadow: 0 1px 8px rgba(0, 0, 0, .06), 0 2px 4px rgba(0, 0, 0, .12);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-color: #fff;
      display: flex;
      justify-content: center;
    }
    .swiper-button-next{
      outline: none;
      margin: 0;
      color: black;
      letter-spacing: 0;
      border: solid transparent;
      cursor: pointer;
      box-shadow: 0 1px 8px rgba(0, 0, 0, .06), 0 2px 4px rgba(0, 0, 0, .12);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-color: #fff;
      display: flex;
      justify-content: center;
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
      display:none;
    }
  }
  .selection{
    margin: 0 86px;
    &__text{
      display: flex;
      font-size: 18px;
      line-height: 21px;
      font-weight: 500;
    }
  }
}