.cosiness{
   padding: 20px 50px;
  &__photos{
    display: flex;
    margin: 20px 0;
    a{
    width: 25%;
    min-width: 25%;
    max-width: none;
    padding: 10px ;
    img{
      display: block;
      min-width: 100%;
      max-width: 100%;
      max-height: 100%;
    }
   }
  }
  .housing{
    &__title{
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      font-size: 26px;
      line-height: 32px;
      color: #222;
      padding-bottom: 20px;
     }
    &__row{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    &__card{
      display: flex;
      width: calc(16.66666% - 10px);
      flex-direction: column;
      position:relative;
    }
    &__img{
      text-align: center;
      img{
        width: 100%;
        border-radius: 24px;
        height: 208px;
      }
    }
    &__text{
      position: absolute;
      margin: 16px;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: #222;
      overflow: hidden;
      overflow-wrap: break-word;
      hyphens: auto;
      text-overflow: ellipsis;
    }
  }
  .discounts{
    &__img{
      border: none;
      img{
        width: 100%;
      }
    }
    &__title{
      line-height: 36px;
      font-size: 28px;
      padding: 15px 0;
    }
    &__swiper{
      padding: 30px 52px;
    }
    &__swipers{
      padding: 16px;
      border-radius: 12px;
    }
    &__price{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size:15px;
      line-height: 15px;
      font-weight: 500;
      span{
        font-size: 13px;
        line-height: 15px;
        color: #8a8784;
        font-weight: 400;

      }
    }
    &__price span:before{
      position: relative;
      left: - 5px;
      bottom: 1px;
      content: "/";
      background-color: transparent;
      top: auto;
      transform: none;
      width: auto;
      height: auto;
    }
    &__img{
      object-fit: contain;
      mix-blend-mode: multiply;
      outline: none;
      display: flex;

      img{
        height: 100%;
        width: 100%;
      }
    }
    &__pays{
      text-align: start;
      padding: 12px 0 30px 0;
    }
    &__pay{
      font-size: 10px;
      line-height: 16px;
    }
    &__text{
      display: flex;
      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      padding: 8px 0;
      color: #21201f;
    }
    &__desc{
      font-size: 13px;
      line-height: 18px;
      color: #21201f;
    }
    &__price{
      justify-content: start;
      gap: 8px;
      text-align: center;
      line-height: 1;
      font-size: 17px;
      font-weight: 700;
      span{
        font-size: 15px;
        color: #8a8784;
      }
    }
  }
  .rooms{
    &__title{
      font-size: 32px;
      line-height: 36px;
      font-weight: 500;
      padding: 30px 0 30px 0;
    }
    .swiper-button-prev{
      color: black;
      background: none;
      align-items: center;
      background-color: hsla(0, 0%, 100%, .75);
      border: 1px solid #666666;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      height: 60px;
      justify-content: center;
      position: absolute;
      transition: opacity .125s ease;
      width: 60px;
    }
    .swiper-button-next{
      color: black;
      align-items: center;
      background-color: hsla(0, 0%, 100%, .75);
      border: 1px solid #666666;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      height: 60px;
      justify-content: center;
      position: absolute;
      transition: opacity .125s ease;
      width: 60px;
    }
  }
}