.cosiness{
   padding: 20px 50px;
     .housing{
         &__card{
           position: relative;
           top: 0;
           left: 0;
         }
       &__img{
         background-position: 50%;
         background-repeat: no-repeat;
         background-size: cover;
       }
     }
}