.map{
padding: 50px 0;
  &__row{
    position: relative;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    border-radius: 20px ;
    top: 20px;
    left:15%;
    right: 0;
    z-index: 1;
    box-shadow: -20px 0 20px 20px rgba(0, 0, 0, .12);
    height: 600px;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  &__right{
    min-width: 400px;
    width: 400px;
    padding: 20px 24px 24px;
  }
  &__text{
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    margin-bottom: 16px;
    gap: 12px;
    display: flex;
    align-items: center;
  }
  &__labels{
    display: flex;
    justify-content: stretch;
    gap: 4px;
    margin-bottom: 16px;
    position: relative;
    left: 2px;
  }
  &__label{
    display: inline-block;
    position: relative;
    outline: none;
    width: 100%;
    flex: 1;
    box-shadow: 0 0 0 2px rgba(33, 32, 31, .92), 0 2px 5px rgba(0, 0, 0, .1);
    height: 52px;
    text-align: center;
    margin-left: 0;
    margin-right: 4px;
    border: none !important;
    border-radius: 10px;
    &-desc{
      padding: 12px;
      text-align: center;
      font-size: 16px;
      line-height: 28px;
    }
  }
  &__input{
    position: absolute;
    opacity: 0;
  }
  &__left{
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 0 20px 20px 0;
  }
  &__address{
    label{
      font-size: 16px;
      line-height: 17px;
      color: #9e9b98;
      position: relative;
    }
    input{
      border: 1px solid rgba(138, 135, 132, .4);
      border-radius: 12px;
      transition: .1s ease-out;
      transition-property: border;
      color: #21201f;
      font-size: 16px;
      line-height: 17px;
      padding: 13.5px 10.5px;
      appearance: none;
      background: none;
      display: block;
      position: relative;
      width: 100%;
    }
  }
  &__bring{
    margin-top: 95%;
  }
  &__btn{
    background:#fce000;
    overflow: hidden;
    height: 56px;
    border-radius: 12px;
    font-size: 16px;
    line-height: 17px;
    font-weight: 500;
    margin-right: 12px;
    width: 100%;
    border: none;
    span{
      color: #21201f;

    }
  }
}