.orders{
  margin: 24px 156px 40px 156px;
  &__title{
    font-size: 32px;
    line-height: 36px;
    font-weight: 500;
    color: #212121;
    border-bottom: 1px solid #dcdcdc;
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 28px;
    -moz-column-gap: 12px;
    column-gap: 12px;
  }
  &__help{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  &__text{
    font-size: 16px;
  }
  &__btns{
    display: flex;
    vertical-align: middle;
    font-weight: 500;
    padding: 40px 0;
  }
  &__button{
    height: 40px;
    padding: 0 16px;
    transition: all .12s ease-out;
    letter-spacing: 0;
    background-color:#fce000;
    border-radius: 7px;
    gap: 6px;
    margin: 0;
    font: inherit;
    cursor: pointer;
    border: none;
    span{
      font-size: 16px;
      line-height: 38px;
      color: #212121;
    }
  }
  &__left{
    &-tex{
      font-size: 22px;
      line-height: 28px;
      font-weight: 700;
      color: #212121;
    }
    &-questions{
      margin-bottom: 26px;
    }
    &-desc{
      a{
        color: #04b;
        display: inline-block;
        margin-top: .5em;
        font-size: 14px;
        line-height: 18px;
        cursor: pointer;
        transition: color .12s ease-out;
        text-decoration: none;
        touch-action: manipulation;
        outline: 0;

      }
    }

    &-us{
      padding-top: 26px;
      border-top: 1px solid rgba(5, 5, 5, .1);
    }
    &-no{

      letter-spacing: .1px;
      font-weight: 700;
      font-style: normal;
      font-stretch: normal;
      font-size: 14px;
      line-height: 20px;

    }
    &-btns{
      padding-top: 16px;
    }
    &-btn{
      width: 100%;
      box-sizing: border-box;
      height: 40px;
      padding: 0 16px;
      transition: all .12s ease-out;
      letter-spacing: 0;
      background-color: #e8e8e8;
      border-radius: 7px;
      border: none;
    }
  }
}
